{% extends "base.html.twig" %}

{% block title %}Créer un évènement - {{ parent() }}{% endblock %}

{% block body %}

<div>
    <h1>Ajouter un événement</h1>

    {{form_start(form)}}
            {{form_widget(form)}}
            <button formnovalidate>Ajouter</button>

    {{form_end(form)}}

</div>
{% endblock %}