{% extends "base.html.twig" %}

{% block title %}Créer un évènement - {{ parent() }}{% endblock %}

{% block body %}

<div class="w-75 m-auto text-center">
    <h1 class="mt-5 fs-2 fw-bold">Ajouter un événement</h1>

    <div class="form-group">
        {{form_start(form)}}

            {{form_widget(form)}}
            <button class="btn btn-primary" formnovalidate>Ajouter</button>

        {{form_end(form)}}

    </div>
</div>
{% endblock %}